<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- Splash Screen - точка входа -->
        <activity
            android:name=".Activity.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Экран авторизации -->
        <activity
            android:name=".Activity.BitrixAuthActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="http"
                    android:host="localhost"
                    android:port="9000"
                    android:pathPrefix="/api/accounts/bitrix-auth/" />
            </intent-filter>
        </activity>

        <!-- Главный экран -->
        <activity
            android:name=".Activity.MainActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <!-- Список проектов -->
        <activity
            android:name=".Activity.ProjectListActivity"
            android:exported="false"
            android:parentActivityName=".Activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.MainActivity" />
        </activity>

        <!-- Детали проекта -->
        <activity
            android:name=".Activity.ProjectDetailsActivity"
            android:exported="false"
            android:parentActivityName=".Activity.ProjectListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.ProjectListActivity" />
        </activity>


    </application>

</manifest>